@{
    ViewData["Title"] = "Contact Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Contact

<h2>Contact Message Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>User Name</dt>
        <dd>@Model.Name</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Phone</dt>
        <dd>@Model.Phone</dd>
        <dt>Message</dt>
        <dd>@Model.Message</dd>


    </dl>

    <form asp-action="MarkAsInvalid" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes" />
        <button type="submit">Mark as Invalid</button>
    </form>
</div>

