@{
    ViewData["Title"] = "Contact Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Contact
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h2>Contact Message Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>User Name</dt>
        <dd>@Model.Name</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Phone</dt>
        <dd>@Model.Phone</dd>
        <dt>Message</dt>
        <dd>@Model.Message</dd>
        <dd><a href="#" data-toggle="modal" data-target="#createContactNote">Create</a></dd>
        @if(Model.ContactHandlings.Count > 0)
        {
            <dt>History</dt>
            <dd>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ContactHandling item in Model.ContactHandlings)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Description</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm")</td>
                                <td><a href="#" data-toggle="modal" data-target="#UpdateNote@(item.Id)">Update</a></td>
                                <td><a href="/send-email?id=@(item.Id)">Send Email</a></td>
                            </tr>
                            <div class="modal fade" id="UpdateNote@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="./update-note" method="post">
                                                <div class="form-group">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <label for="recipient-name" class="col-form-label">Note</label>
                                                    <textarea name="note" required>@item.Note</textarea>
                                                    <br>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Update Note</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>  
    <div class="modal fade" id="createContactNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="./add-note" method="post">
                        <div class="form-group">
                            <input type="hidden" name="contactID" value="@Model.Id"/>
                            <label for="recipient-name" class="col-form-label">Note</label>
                            <textarea name="note" required></textarea>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Note</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

