@model IEnumerable<IMS.Models.Contact>

@{
    ViewData["Title"] = "Contact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Messages</h2>

<table class="table" style="text-align : center">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Message</th>
            <th scope="col">Is Valid</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Contact message in Model)
        {
            <tr>
                <th>@message.Id</th>
                <td>@message.Name</td>
                @*<td>@message.Message</td>*@
                <td>
                    @if (message.IsValid == true)
                    {
                        <p>Yes</p>
                    }
                    else if (message.IsValid == null)
                    {
                        <p>...</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                <td>@message.Email</td>
                <td>@message.Phone</td>
                <td>
                    <a href="/detail?id=@(message.Id)">Details</a>
                </td>
                <td>
                        @if (message.IsValid == true)
                        {
                        <a asp-action="MarkValid" asp-route-id="@message.Id">Mark as Invalid</a>
                        }
                        else
                        {
                        <a asp-action="MarkValid" asp-route-id="@message.Id">Mark as Valid</a>
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align: center">
    @for (int i = 1; i <= ViewBag.totalPage;i++)
    {
        <a asp-action="List" asp-controller="Contact" asp-route-page="@i" style="@(i == ViewBag.pageNum ? "color : red" : "")">@i</a>
    }
</div>

