@using Microsoft.Extensions.Configuration;
@inject IConfiguration _config;

@{
    var state = Guid.NewGuid().ToString();

    string clientId = _config["Authentication:Google:ClientId"];
    string clientSecret = _config["Authentication:Google:ClientSecret"];
    string redirectUri = _config["Authentication:Google:RedirectUri"];
    string googleStringBuilder = string.Format("https://accounts.google.com/o/oauth2/auth?client_id={0}&redirect_uri={1}&response_type=code&scope=email&profile&state={2}", clientId, redirectUri, state);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IMS.styles.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>

        <div class="d-flex flex-column align-items-center justify-content-between mt-5">
            <div>
                <div style="min-width: 800px" class="shadow-sm px-5 py-3">
                    @RenderBody()

                    @if (!string.IsNullOrEmpty(ViewBag.Success))
                    {
                        <div class="text-success text-center mt-3">
                            @ViewBag.Success
                            @if (ViewBag.Success == "Success! Your registration is complete. Check your email for confirmation"
                               || ViewBag.Success == "An email has been sent again, please check your mailbox")
                            {
                                @using (Html.BeginForm("ResendEmail", "Auth", FormMethod.Post))
                                {
                                    <button class="btn btn-link">Click here if you do not receive the email</button>
                                }
                            }
                        </div>

                    }
                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                    {
                        <div class="text-danger text-center mt-3">
                            @ViewBag.Error
                        </div>
                    }

                    <p class="text-center mt-4">or</p>
                    <div class="">
                        <button class="border bg-white w-100 d-flex justify-content-between align-items-center p-2 my-3 shadow-sm fw-bold">
                            <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.410/static/media/google-logo.e086107b.svg"
                                 alt="google-logo" height="18">
                            <a class="text-decoration-none text-dark w-100" href="@googleStringBuilder">Continue with Google</a>
                        </button>
                    </div>
                </div>
            </div>

        </div>



    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

