@model IMS.ViewModels.Validation.IssueSettingViewModel
@{
    ViewData["Title"] = "Project List";
    // Pagination pagination = ViewBag.Pagination;
}

<div class="container-fluid px-4">
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link text-primary" asp-controller="Project" asp-action="ProjectDetail" asp-route-id="@ViewBag.ProjectId">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-controller="Project" asp-action="Member" asp-route-id="@ViewBag.ProjectId">Member</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-controller="Project" asp-action="ProjectMilestone" asp-route-id="@ViewBag.ProjectId">Milestone</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-primary" asp-controller="Project" asp-action="IssueSetting" asp-route-id="@ViewBag.ProjectId">Issue Setting</a>
        </li>
    </ul>
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-4">Project Issue Setting</h1>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fa-solid fa-list me-1"></i>
                Project Issue Setting
            </div>
            <div class="col-md-auto">
                <a class="btn btn-primary" id="newIssueSettingBtn">
                    <i class="fas fa-plus"></i> New Issue Setting
                </a>
            </div>
        </div>
        <div class="card-body">
            <form asp-controller="Project" asp-action="IssueSetting" method="get">
                <div class="row">
                    <div class="col-md-6">
                        <label for="searchString" class="form-label">Search:</label>
                        <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Search..." value="@ViewBag.SearchValue">
                    </div>
                    <input type="hidden" id="projectId" name="projectId" value="@ViewBag.ProjectId">
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary">Search Page</button>
                    </div>
                </div>
            </form>
            <table class="table" id="issueSettingTable" style="table-layout: fixed">
                <tbody>
                    @foreach (IssueSetting issueSetting in ViewBag.IssueSettingList)
                    {
                        <tr>
                            <td class="label-column">
                                <div data-html="true" class="badge badge-pill issue-label" style="background-color: @issueSetting.Color">
                                    <span data-container="body" data-html="true" style="background-color: @issueSetting.Color">@issueSetting.Type</span>
                                    <span data-container="body" data-html="true" style="background-color: #ffffff">@issueSetting.Value</span>
                                </div>
                            </td>

                            <td style="text-align: left">@issueSetting.Description</td>
                            <td class="action-column">
                                @if (issueSetting.Status.Value)
                                {
                                    <form asp-action="ToggleIssueSettingStatus" asp-route-id="@issueSetting.Id" method="post">
                                        <input type="hidden" name="projectId" value="@issueSetting.ProjectId" />
                                        <button type="submit" class="btn btn-success btn-sm">
                                            Active
                                        </button>
                                    </form>

                                }
                                else
                                {
                                    <form asp-action="ToggleIssueSettingStatus" asp-route-id="@issueSetting.Id" method="post">
                                        <input type="hidden" name="projectId" value="@issueSetting.ProjectId" />
                                        <button type="submit" class="btn btn-secondary btn-sm">
                                            Deactive
                                        </button>
                                    </form>
                                }
                                @*@if (issueSetting.ProjectId != null)
                                {
                                    <div id="modalContainer">
                                        @await Html.PartialAsync("ModalUpdateIssueSetting", new IMS.ViewModels.Validation.IssueSettingViewModel
                                        { 
                                            Id = issueSetting.Id,
                                            Type = issueSetting.Type,
                                            Value = issueSetting.Value,
                                            Color = issueSetting.Color,
                                            Description = issueSetting.Description, 
                                            ProjectId = issueSetting.ProjectId
                                        })
                                    </div>
                                    <button onclick="openUpdateModal(@issueSetting.Id)" class="btn btn-primary btn-sm">
                                        Update
                                    </button>
                                }*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modalContainer">
    @await Html.PartialAsync("ModalCreateIssueSetting")
</div>


<script>
    document.getElementById("newIssueSettingBtn").addEventListener("click", function () {
        // Hiển thị modal
        $('#createModal').modal('show');
    });
    function openUpdateModal(issueSettingId) {
        var modalId = "#modalUpdateIssueSetting_" + issueSettingId;
        $(modalId).modal('show');
    }

    document.addEventListener("DOMContentLoaded", function () {
        console.log("sa");
        var colorInput = document.getElementById("color-input");
        var colorLinks = document.querySelectorAll(".has-tooltip");

        colorLinks.forEach(function (link) {
            link.addEventListener("click", function (e) {
                e.preventDefault();
                var selectedColor = this.getAttribute("data-color");
                colorInput.value = selectedColor;
            });
        });
    });
</script>