@model AssignmentViewModel

@{
    Layout = "~/Views/Shared/SubjectDetailTab.cshtml";
    string? code = Context.Request.RouteValues["code"]?.ToString();
}


<a class="mb-4" href="/subjects">Back to list</a>

<div class="mt-5">
    <div class="card p-4">
        <div class="mb-3">
            @using (Html.BeginForm("Assignments", "Subject", FormMethod.Get))
            {
                <input type="hidden" class="form-control" asp-for="PageIndex" placeholder="Searh subject code or name" name="page">
                <div class="row align-items-end">
                    <div class="col-md-2">
                        <label class="form-label">Type</label>
                        <select class="form-select" name="type" asp-for="Type">
                            <option value="all">All</option>
                            <option value="activate">Activate</option>
                            <option value="deactivate">Deactivate</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Search</label>
                        <input type="text" class="form-control" placeholder="Searh assignment name" name="search" asp-for="Search">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>

                    <div class="col-md-2 text-end">
                        <button type="button" class="btn btn-primary">
                            New Assignment
                        </button>
                    </div>

                </div>
            }
        </div>

        <table style="border-width: 1px;  border-color: #e0e0e0" class="table table-bordered " id="sorttable-table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Activate</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Assignments.Count == 0)
                {
                    <tr>
                        <td colspan=3>
                            <div class="text-secondary text-center">No item not found</div>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var assignment in Model.Assignments)
                    {
                        <tr>
                            <td>@assignment.Id</td>
                            <td>@assignment.Name</td>
                            <td>
                                <input class="is-public-checkbox" style="height:15px; width:15px" type="checkbox" readonly @(assignment.IsActive == true ? "checked" : "") />
                            </td>
                            <td>
                                <a class="page-link text-decoration text-primary" href="@Url.Action("AssignmentsActive", "Subject", new {code = code,  assignmentId = assignment.Id, page = Model.PageIndex, search = Model.Search, type = Model.Type})">@(assignment.IsActive == true ? "Deactivate":"Activate")</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
                <ul class="pagination">

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("Assignments", "Subject", new { page = i,search = Model.Search, type = Model.Type })">@i</a></li>
                    }

                </ul>
            </nav>
    </div>
</div>

@*<div class="modal" id="exampleModal" tabindex="-1" style="background-color:#2220208c">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddSubject", "Subject", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePopup()"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label mb-1" }) <span class="text-danger">*</span>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "code" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label mb-1" }) <span class="text-danger">*</span>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id = "name" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-prepend">
                                @Html.CheckBoxFor(model => model.IsActive)
                            </span>
                        </div>
                    </div>


                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                    {
                        <div class="text-danger text-center mt-3">
                            @ViewBag.Error
                        </div>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>*@