@{
}
<h2 class="mb-4">Create Class</h2>
@model IMS.ViewModels.Class.ClassViewModel
<form asp-action="Create" method="post" enctype="multipart/form-data">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            <ul>
                <li>@ViewBag.SuccessMessage</li>
            </ul>
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <ul>
                <li>@ViewBag.ErrorMessage</li>
            </ul>
        </div>
    }
    <input type="hidden" name="_token" value="@ViewBag.Token" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Name*</label>
                <div class="col-10">
                    <input id="Name" name="Name" asp-for="Name" class="form-control" required />
                    <span id="nameError" asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Description (Optional)</label>
                <div class="col-10">
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-6">


            <div class="form-group">
                <label for="teacherInput">Teacher (Email/Name)*</label>
                <div class="col-10">
                    <input type="text" class="form-control" id="teacherInput" name="teacherInput" required />
                </div>
            </div>

            <div class="form-group">
                <label for="roleId">Subject*</label>
                <div class="col-10">
                    <select class="form-control" id="SubjectId" name="SubjectId">
                        @foreach (var subject in ViewBag.Subject)
                        {
                            <option value="@subject.Id">@subject.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

     @*   <div id="milestonesContainer">
            <!-- Duyệt qua danh sách các Milestone đã thêm để hiển thị -->
            @foreach (var Milestone in Model.Milestones)
            {
                <div class="milestone">
                    <div class="form-group">
                        <label for="milestones.Title">Milestone Title</label>
                        <input type="text" class="form-control" name="milestones.Title" value="@Milestone.Title" readonly />
                    </div>

                    <div class="form-group">
                        <label for="milestones.Description">Milestone Description</label>
                        <textarea class="form-control" name="milestones.Description" readonly>@Milestone.Description</textarea>
                    </div>
                </div>
            }
        </div>*@
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <a href="/Class" class="btn btn-primary">Back to Classes</a>
        </div>
    </div>
 
  
</form>
