@model IMS.ViewModels.Validation.SettingViewModel
@{
    ViewData["Title"] = "Setting Detail";
    string confirmMessage = "Are you want to update this setting ?";
    IMS.ViewModels.Permission.PageAccess pageAcess = ViewBag.PageAccess;
}
<div class="container mt-5">
    <h2>Update Setting</h2>

    <!-- Form để Update Setting -->
    <form asp-action="SettingUpdate" method="post" class="needs-validation" novalidate id="formSubmit">
        <!-- Validation Summary -->
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                <ul>
                    <li>@ViewBag.SuccessMessage</li>
                </ul>
            </div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <ul>
                    <li>@ViewBag.ErrorMessage</li>
                </ul>
            </div>
        }
        <!-- ID -->
        <div class="form-group">
            <label for="Id">ID:</label>
            <input type="text" class="form-control" id="Id" name="Id" asp-for="Id" value="@Model.Id" readonly>
        </div>

        <!-- Type -->
        @if (Model.Type == "ROLE")
        {
            <div class="form-group">
                <label for="Type">Type*:</label>
                <select class="form-control" id="Type" name="Type" asp-for="Type" required readonly>
                    <option value="ROLE" selected="@(Model.Type == "ROLE")">Role Names</option>
                </select>
            </div>
        }
        else
        {
            <div class="form-group">
                <label for="Type">Type*:</label>
                <select class="form-control" id="Type" name="Type" asp-for="Type" required>
                    <option value="PAGE_LINK" selected="@(Model.Type == "PAGE_LINK")">Page Links</option>
                    <option value="ROLE" selected="@(Model.Type == "ROLE")">Role Names</option>
                    <option value="CONTACT_TYPE" selected="@(Model.Type == "CONTACT_TYPE")">Contact Type</option>
                    <option value="POST_CATEGORY" selected="@(Model.Type == "POST_CATEGORY")">Post Category</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        }

        <!-- Value -->
        @if (Model.Type == "ROLE")
        {
            <div class="form-group">
                <label for="Value">Value*:</label>
                <input type="text" class="form-control" id="Value" name="Value" asp-for="Value" required value="@Model.Value" readonly>
            </div>
        }
        else
        {
            @if (pageAcess.CanUpdate)
            {
                <div class="form-group">
                    <label for="Value">Value*:</label>
                    <input type="text" class="form-control" id="Value" name="Value" asp-for="Value" required value="@Model.Value">
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="Value">Value*:</label>
                    <input type="text" class="form-control" id="Value" name="Value" asp-for="Value" readonly required value="@Model.Value">
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
            }
        }

        <!-- Order -->
        @if (pageAcess.CanUpdate)
        {
            <div class="form-group">
                <label for="Order">Order*:</label>
                <input type="text" class="form-control" id="Order" name="Order" asp-for="Order" value="@Model.Order">
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
        }
        else
        {
            <div class="form-group">
                <label for="Order">Order*:</label>
                <input type="text" class="form-control" id="Order" name="Order" asp-for="Order" value="@Model.Order" readonly>
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
        }

        <!-- Description -->
        @if (pageAcess.CanUpdate)
        {
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" id="Description" name="Description" asp-for="Description" value="@Model.Description"></textarea>
            </div>
        }
        else
        {
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" id="Description" name="Description" asp-for="Description" readonly value="@Model.Description"></textarea>
            </div>
        }

        <!-- Status -->
        <label for="Status">Status:</label>
        <br />
        @if (pageAcess.CanUpdate)
        {
            <div class="form-check" style="display: inline-block; margin-right: 10px;">
                <input class="form-check-input" type="radio" name="status" value="true" @(Model.Status ? "checked" : "")>
                <label class="form-check-label" asp-for="Status">
                    True
                </label>
            </div>
            <div class="form-check" style="display: inline-block;">
                <input class="form-check-input" type="radio" name="status" value="false" @(!Model.Status ? "checked" : "")>
                <label class="form-check-label" asp-for="Status">
                    False
                </label>
            </div>
        }
        else{
                <div class="form-check" style="display: inline-block; margin-right: 10px;">
                    <input class="form-check-input" type="radio" name="status" value="true" readonly @(Model.Status ? "checked" : "")>
                    <label class="form-check-label" asp-for="Status">
                        True
                    </label>
                </div>
                <div class="form-check" style="display: inline-block;">
                    <input class="form-check-input" type="radio" name="status" value="false" readonly @(!Model.Status ? "checked" : "")>
                <label class="form-check-label" asp-for="Status">
                        False
                    </label>
                </div>
        }

        <br />
        <!-- Button submit -->
        @if (pageAcess.CanUpdate)
        {
            <button type="submit" class="btn btn-primary" id="btnSubmit" style="display: inline-block; margin-right: 10px;">Update Setting</button>
        }
        <a class="btn btn-primary" href="@Url.Action("SettingList")" style="display: inline-block;">Back To Setting List</a>
    </form>
</div>
@Html.Partial("_ConfirmPartial", confirmMessage)
