@{
    ViewData["Title"] = "Setting List";
    Pagination pagination = ViewBag.Pagination;
}

<div class="container-fluid px-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-4">Settings List</h1>
        <div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-table me-1"></i>
                Settings
            </div>
            <div class="col-md-auto">
                <a class="btn btn-primary" asp-controller="Setting" asp-action="AddSetting">
                    <i class="fas fa-plus"></i>
                    Add New Setting
                </a>
            </div>
        </div>
        <div class="card-body">
            <form asp-controller="Setting" asp-action="SettingList" method="get" id="FilterAndSearchForm">
                @*thêm input ẩn *@
                <input type="hidden" id="pageNumber" name="pageNumber" />
                <div class="row">
                    <div class="col-md-3">
                        <label for="Type" class="form-label">Filter by Type:</label>
                        <select class="form-control" id="Type" name="filterByType">
                            @if (ViewBag.TypeValue == null && ViewBag.TypeValue == "ALL")
                            {
                                <option value="ALL" selected>All</option>
                            }
                            else
                            {
                                <option value="ALL">All</option>
                            }
                            <option value="PAGE_LINK" selected="@(ViewBag.TypeValue == "PAGE_LINK")">Page Links</option>
                            <option value="ROLE" selected="@(ViewBag.TypeValue == "ROLE")">Role Names</option>
                            <option value="CONTACT_TYPE" selected="@(ViewBag.TypeValue == "CONTACT_TYPE")">Contact Type</option>
                            <option value="POST_CATEGORY" selected="@(ViewBag.TypeValue == "POST_CATEGORY")">Post Category</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="Type" class="form-label">Filter by Status:</label>
                        <select class="form-control" id="Status" name="filterByStatus">
                            <option value="" selected>Select Status</option>
                            <option value="">All</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="keyword" class="form-label">Search:</label>
                        <input type="text" id="keyword" name="searchByValue" class="form-control" placeholder="Search..." value="@ViewBag.SearchValue">
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
            <br />
            @{
                if (ViewBag.SettingList != null)
                {
                    <table class="table table-bordered" id="sortable-table">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)" class="sortable">Id</th>
                                <th onclick="sortTable(1)" class="sortable">Type</th>
                                <th onclick="sortTable(2)" class="sortable">Value</th>
                                <th onclick="sortTable(3)" class="sortable">Order</th>
                                <th class="sortable">Status</th>
                                <th class="sortable">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var setting in ViewBag.SettingList)
                            {
                                <tr>
                                    <td>@setting.Id</td>
                                    <td>@setting.Type</td>
                                    <td>@setting.Value</td>
                                    <td>@setting.Order</td>
                                    @if (setting.Status == true)
                                    {
                                        <td>
                                            <form asp-action="ToggleStatus" asp-route-id="@setting.Id" method="post">
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    Active
                                                </button>
                                            </form>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <form asp-action="ToggleStatus" asp-route-id="@setting.Id" method="post">
                                                <button type="submit" class="btn btn-secondary btn-sm">
                                                    Deactive
                                                </button>
                                            </form>
                                        </td>
                                    }

                                    <td>
                                        <a asp-action="SettingDetail" asp-route-id="@setting.Id" asp-controller="Setting" class="btn btn-info btn-sm">
                                            <i class="fas fa-eye"></i> View Details/Update
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No settings available.</p>
                }
            }
            @Html.Partial("_PaginationPartial", pagination)
        </div>
    </div>
</div>