@model NewIssue;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column" style="gap: 24px">

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Title, new { @class = "control-label mb-1" })<span class="text-danger">*</span>
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.DropDownListFor(model => model.TypeId, new SelectList(ViewBag.Type, "Id", "Name"), "Select a manager", new { @class = "form-control", @id = "project" })
        @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(model => model.Description, new { @class = "control-label mb-1" })<span class="text-danger">*</span>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="row">

        <div class=col-6>
            <div class="form-group mb-3">
                @Html.DropDownListFor(model => model.AssigneeId, new SelectList(ViewBag.Type, "Id", "Name"), "Select a manager", new { @class = "form-control", @id = "project" })
                @Html.ValidationMessageFor(model => model.AssigneeId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



</div>