@model IMS.DAO.PostDAO
@{
    Layout = "~/Views/Shared/_layoutBlog.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    @*<link rel="stylesheet" href="~/css/landing.css">*@
    <link rel="stylesheet" href="~/css/post.css">
    <!--

    TemplateMo 556 Catalog-Z

    https://templatemo.com/tm-556-catalog-z

    -->

</head>
<style>
   /* body {
        margin: 0;
        padding: 0;
    }

    #phandungyen {
        position: fixed;
        right:320px;
    }*/
    img{
        width:100%;
    }

</style>
<body>
    
    <div class="d-flex justify-content-center" id="bodydichuyen">
        <div class="tm-hero tm-text m-3" style="width:50%;" id="phandichuyen">
            <div class="d-flex" style="justify-content:space-between; margin-bottom:20px;">
                <span class="tm-text" style="color:#009999">@Model.CategoryName</span>
                <span class="tm-text-gray-light">@Model.UpdatedAt?.ToString("dddd, dd/MM/yyyy, HH:mm (GMT+7)")</span>
            </div>
            <h2 >
               @Model.Title
            </h2>
            <p>@Model.Excerpt</p>
            <div>
                @Html.Raw(Model.Description)
            </div>
             <span class="tm-text-gray-light" style="font-weight:bold; display:flex;justify-content:flex-end">Author: @Model.AuthorName</span>
            </div>
        <div id="phandungyen">
            <h5 style="color: #ffc800; box-shadow: 0 1px #ffc800;">Liên Quan</h5>
            <div>
                @foreach (var blog in @ViewBag.RandomLienQuan)
                {
                    <div style="margin-bottom:25px; box-shadow: 0 1px #CCC;">
                        @if (@blog.ImageUrl == null)
                    {
                            <figure class="effect-ming tm-video-item" style="width: 200px; height: 120px;">
                                <img src="~/img/pastel-aesthetic-6pgnuy5ocxtm1r29.jpg" alt="Image" class="img-fluid" style="width: 200px; height: 120px; object-fit: cover;">
                            <figcaption class="d-flex align-items-center justify-content-center">
                                <h2>View</h2>
                                    <a asp-action="Detail" asp-route-id="@blog.Id">View more</a>
                            </figcaption>
                            </figure>
                        }
                        else
                        {
                             <figure class="effect-ming tm-video-item" style="width: 200px; height: 120px;">
                            <img src="@blog.ImageUrl" alt="Image" class="img-fluid" style="width: 200px; height: 120px; object-fit: cover;">
                            <figcaption class="d-flex align-items-center justify-content-center">
                                <h2>View</h2>
                                <a asp-action="Detail" asp-route-id="@blog.Id">View more</a>
                            </figcaption>
                        </figure>
                        }
                       
                        <div class="d-grid justify-content-between tm-text-gray" style="width: 200px;">
                            <h6 class="tm-text" style="color:#009999">@blog.Title</h6>
                            <span class="tm-text-gray-light">Author: @blog.Author.Name</span>
                            <span class="tm-text-gray-light">Category: @blog.Category.Value</span>
                        </div>
                    </div>
                }
                
              
            </div>
        </div>
    </div>
    <div style="width: 50%;margin-left: 25%;" >
         <h5 style="color: #ffc800; box-shadow: 0 1px #ffc800;">Tin tức khác</h5>
         <div style="width: 100%">
            @foreach (var blog in @ViewBag.Random)
            {
                <div style="margin-bottom:25px; box-shadow: 0 1px #CCC; display:flex;">
                    @if (@blog.ImageUrl == null)
                    {
                        <figure class="effect-ming tm-video-item" style="width: 200px; height: 120px;">
                            <img src="~/img/pastel-aesthetic-6pgnuy5ocxtm1r29.jpg" alt="Image" class="img-fluid" style="width: 200px; height: 120px; object-fit: cover;">
                            <figcaption class="d-flex align-items-center justify-content-center">
                                <h2>View</h2>
                                <a asp-action="Detail" asp-route-id="@blog.Id">View more</a>
                            </figcaption>
                        </figure>
                    }
                    else
                    {
                        <figure class="effect-ming tm-video-item" style="width: 200px; height: 120px;">
                            <img src="@blog.ImageUrl" alt="Image" class="img-fluid" style="width: 200px; height: 120px; object-fit: cover;">
                            <figcaption class="d-flex align-items-center justify-content-center">
                                <h2>View</h2>
                                <a asp-action="Detail" asp-route-id="@blog.Id">View more</a>
                            </figcaption>
                        </figure>
                    }

                    <div class="d-grid justify-content-between tm-text-gray" style="margin-left:20px; width: -webkit-fill-available">
                        <h5 class="tm-text" style="color:#009999">@blog.Title</h5>
                        <span class="tm-text">@blog.Excerpt</span>
                        <div style="display: grid">
                            <span class="tm-text-gray-light">Author: @blog.Author.Name</span>
                            <span class="tm-text-gray-light">Category: @blog.Category.Value</span>
                        </div>
                        
                    </div>
                </div>
            }

         </div>
       
    </div>
    <!---popupReport--->
    <div class="modal" tabindex="-1" id="popupReport" style="background-color:#2220208c">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Send Report</h5>
                </div>
                <!-- Nội dung của popupReport -->
                <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                     <form asp-action="SendReport" method="post" id="form">
                        <input type="hidden" name="idPost" value="@ViewBag.CheckPost" />
                        <div class="row align-items-stretch">
                            <div class="col">
                                <div class="form-group mb-4">
                                    <label  class="control-label">Content*</label>
                                    <input name="content" id="contentInput"  class="form-control" />
                                    <span id="contentError" style="color:red;" class="field-validation-error"></span>

                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div></div>
                            <div class="d-flex">
                                <input type="button" value="Send" onclick="validateAndSubmit()" style="background-color: #009999;border-radius: 3px; margin-top:9px; margin-right:3px" />
                                <input type="button" value="Close" onclick="closePopup('popupReport')" style="background-color: gray;border-radius: 3px; margin-top:9px" />

                            </div>
                        </div>
                       
                     </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <script src="js/plugins.js"></script>
    <script>
         function openPopup(popupView) {
        var popup = document.getElementById(popupView);
        popup.style.display = 'block';
    }
    function closePopup(popupView) {
        var popup = document.getElementById(popupView);
        popup.style.display = 'none';
    }

        function validateAndSubmit() {
            // Lấy giá trị từ thẻ select
            var contentInput = document.getElementById("contentInput").value;
            var contentError = $("#contentError")
            // Reset trạng thái và thông báo lỗi trước mỗi lần kiểm tra
            $("#contentInput").removeClass("input-validation-error");
            contentError.text("");

            // Kiểm tra
            if (contentInput == "") {
                contentError.text("Please enter a Content.");
            }
            else {
                // Validation thành công, tiếp tục submit form
                document.forms["form"].submit();

            }
        }

    </script>
</body>
</html>
