@model IMS.DAO.PostDAO


@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .popup-container {
        position: absolute;
        display: none;
        background-color: white;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index:9999;
    }

    .content-cell {
        max-width: 300px;
        word-wrap: break-word;
    }
</style>

<h1>Edit Post</h1>
<hr />

<div class="d-flex">
    <a asp-action="Index" class="btn btn-outline-success" style="height:fit-content">Back to List</a> |
    <a asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-outline-success" style="height:fit-content">Detail</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success" style="height:fit-content">Edit</a>
    @if (@ViewBag.CheckAccount == "Admin" || @ViewBag.CheckAccount == "Marketer Manager")
    {
          <p>|</p>  <p class="btn btn-outline-success" style="width:100px" onclick="openPopup('popupReport')">Report</p>
    }
</div>
<div class="row">
    <form asp-action="Edit" method="post" id="editForm" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-4 d-flex">
            @if(Model.ImageUrl!= null){
                <img id="selectedImg" src="@Model.ImageUrl" style="width: 100px;border-radius: 8px;" alt="User Avatar" />
                <div class="row" style="margin-left:10px;">
                    <div class="btn btn-outline-success " style="height:fit-content;width:fit-content; margin-right:10px;" id="changeImg" >
                    <label class="form-label text-green m-0" for="imgFile">Choose Img</label>

                    <input type="file" class="form-control d-none" id="imgFile" name="imgFile" onchange="displaySelectedImage(event, 'selectedImg')" />
                    </div>
                    <div class="btn btn-outline-success" style="height:fit-content;width:fit-content" id="deleteImg">
                        <label class="form-label text-green m-0"  onclick="openPopup('popupDelete')">Delete Img</label>
                    </div>
                </div>
                
            }
            else
            {
                <img id="selectedImg" src="~/img/addImage.png" style="width: 52px;border-radius: 8px;" alt="User Avatar" />
                <div class="btn btn-outline-success " id="changeImg" style=" height:fit-content;margin-top:7px">
                    <label class="form-label text-green m-0" for="imgFile">Choose Image</label>
                    <input type="file" class="form-control d-none" id="imgFile" name="imgFile" onchange="displaySelectedImage(event, 'selectedImg')" />
                </div>
            }
            
        </div>
        <input type="hidden" id="imgUrl" name="imgUrl"  value="@Model.ImageUrl" />
        <input type="hidden" asp-for="Id" />
        <div class="row align-items-stretch">
            <div class="col-md-8">
                <div class="form-group mb-4">
                    <label asp-for="Title" class="control-label">Title*</label>
                    <input asp-for="Title" id="titleInput" class="form-control" />
                    <span id="titleError" style="color:rgba(var(--bs-danger-rgb));" class="field-validation-error"></span>

                </div>

                <div class="form-group mb-4">
                    <label asp-for="Excerpt" class="control-label">Excerpt*</label>
                    <textarea asp-for="Excerpt" id="excerptInput" class="form-control" ></textarea>
                    <span id="excerptError" style="color:rgba(var(--bs-danger-rgb));" class="field-validation-error"></span>

                </div>

                <div class="form-group mb-4 d-flex">
                    <label asp-for="IsPublic" class="form-check-label m-2">
                        Public
                    </label>
                    @if (Model.IsPublic==true)
                    {
                        <div class="form-check m-2">
                            <input asp-for="IsPublic" class="form-check-input" type="radio" checked value="true" />
                            <label class="form-check-label">Yes</label>
                        </div>

                        <div class="form-check m-2">
                            <input asp-for="IsPublic" class="form-check-input" type="radio" value="false" />
                            <label class="form-check-label">No</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check m-2">
                        <input asp-for="IsPublic" class="form-check-input" type="radio" value="true"  />
                        <label class="form-check-label">Yes</label>
                    </div>

                        <div class="form-check m-2">
                        <input asp-for="IsPublic" class="form-check-input" type="radio" checked value="false"  />
                        <label class="form-check-label">No</label>
                    </div>
                    }

                </div>

                <div class="form-group mb-4">
                    <label asp-for="AuthorName" class="control-label">Author</label>
                    <input asp-for="AuthorName" class="form-control" readonly />
                </div>
                <div class="form-group mb-4">
                    <label  class="control-label"> Category</label>
                    @* Hiển thị select khi đang ở chế độ chỉnh sửa *@
                    <select id="selectCate" name="category" asp-items="ViewBag.Setting"
                            class="form-control">
                        <option value="@Model.CategoryName" class="form-control">@Model.CategoryName</option>
                    </select>
                    <span id="selectError" style="color:rgba(var(--bs-danger-rgb));" class="field-validation-error"></span>
                </div>
                <div class="form-group mb-4">
                    <div class="form-group form-group-textarea mb-md-0" style="height:100%">
                        <label asp-for="Description" class="control-label">Description*</label>
                        <textarea asp-for="Description" id="descriptionInput" class="form-control"></textarea>
                        <span id="descriptionError" style="color:rgba(var(--bs-danger-rgb));" class="field-validation-error"></span>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                
            </div>
        </div>

        <button type="button" onclick="validateAndSubmit()" value="Save" class="btn btn-outline-success" id="saveButton">Save</button>
    </form>

</div>
<!---popupReport--->
<div class="modal" tabindex="-1" id="popupReport" style="background-color:#2220208c">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePopup('popupReport')"></button>
            </div>
            <!-- Nội dung của popup delete -->
            @if (@Model.Reports != null)
            {
                    <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                   CreateDate
                                </th>
                                <th>
                                   Content
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Reports)
                            {
                                    <tr >
                                        <td>@item.Reporter.Name</td>
                                        <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
                                        <td >
                                            <p class="content-cell d-flex" style="width:fit-content"
                                    onmouseover="showFullContent('@item.Content', event)" onmouseout="hideContent()" 
                                   >@item.Content</p>
                                        </td>
                                    </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }
            else{
                    <p>Post report is empty!</p>
            }
            
            <div class="modal-footer">
               
                <input type="submit" value="Close" onclick="closePopup('popupReport')" style="background-color: gray;border-radius: 3px; margin-top:9px" />

            </div>
        </div>
    </div>
</div>
<div class="popup-container" id="popupContainer" style="max-width: 300px"></div>
<!---popupdelete--->
<div class="modal" tabindex="-1" id="popupDelete" style="background-color:#2220208c">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirm delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePopup('popupDelete')"></button>
            </div>
            <!-- Nội dung của popup delete -->
            <div class="modal-body">
                Are you sure you want to delete this image?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteImage", "Posts", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Id)
                    <input type="submit" value="Yes" onclick="closePopup('popupDelete')" style="background-color: #43A047;border-radius: 3px; margin-top:5px" />
                }
                <input type="submit" value="No" onclick="closePopup('popupDelete')" style="background-color: gray;border-radius: 3px; margin-top:9px" />

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/plugin/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('descriptionInput', {
       
         width: ['100%'], height: ['600px']
    })
    function validateAndSubmit() {
        // Lấy giá trị từ thẻ select
        var selectInput = document.getElementById("selectCate").value;
        var descriptionInput = CKEDITOR.instances['descriptionInput'].getData();
        var excerptInput = document.getElementById("excerptInput").value;
        var titleInput = document.getElementById("titleInput").value;
        var selectError = $("#selectError")
        var descriptionError = $("#descriptionError")
        var excerptError = $("#excerptError")
        var titleError = $("#titleError")
        // Reset trạng thái và thông báo lỗi trước mỗi lần kiểm tra
        $("#selectCate").removeClass("input-validation-error");
        selectError.text("");
        $("#descriptionInput").removeClass("input-validation-error");
        descriptionError.text("");
        $("#titleInput").removeClass("input-validation-error");
        titleError.text("");
        $("#excerptInput").removeClass("input-validation-error");
        excerptError.text("");

        // Kiểm tra
        if (titleInput == "") {
            titleError.text("Please enter a Title.");
        }
        else if (excerptInput == "") {
            excerptError.text("Please enter a Excerpt.");
        }
        else if (descriptionInput.trim() === "") {
            descriptionError.text("Please enter a Description.");
        }
        else {
            // Validation thành công, tiếp tục submit form
            document.forms["editForm"].submit();
            
        }
    }
     function displaySelectedImage(event, elementId) {
            const selectedImage = document.getElementById(elementId);
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    selectedImage.src = e.target.result;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }

    function openPopup(popupView) {
        var popup = document.getElementById(popupView);
        popup.style.display = 'block';
    }

    function closePopup(popupView) {
        var popup = document.getElementById(popupView);
        popup.style.display = 'none';
    }

    function showFullContent(content, event) {
        var popupContainer = document.getElementById('popupContainer');
        var contentCell = event.target.querySelector('.content-cell');

        // Đặt nội dung của popup container
        popupContainer.innerHTML = content;

        // Đặt vị trí và hiển thị popup container
        popupContainer.style.left = (event.clientX + window.scrollX) + 'px';
        popupContainer.style.top = (event.clientY + window.scrollY)  + 'px';
        popupContainer.style.display = 'block';
    }

    function hideContent() {
        var popupContainer = document.getElementById('popupContainer');

        // Ẩn popup container khi di chuột ra
        popupContainer.style.display = 'none';
    }


</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elements = document.querySelectorAll('.content-cell');
        elements.forEach(function (element) {
            var content = element.textContent.trim();
            var maxLength = 100;
            if (content.length > maxLength) {
                element.textContent = content.substring(0, maxLength) + '...';
                //element.title = content; // Hiển thị toàn bộ nội dung khi di chuột qua
            }
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
