@model IMS.Models.Post
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="display: flex;flex-direction: column;">
    <div>
        <div class="d-flex justify-content-between " style="float:right">
            <a onclick="openPopup('popupCreate')" class="btn btn-outline-success" style="height: fit-content;margin: auto;">Create New</a>
            <form asp-action="Index" method="get" class="d-flex">
                <div class="d-flex m-2">
                    <select name="filterCat" asp-items="ViewBag.Setting"
                            class="form-control"
                            style="color: #6c757d">
                        <option value="Category" class="form-control">Category</option>
                    </select>
                    <button class="btn btn-outline-success">Filter</button>
                </div>
                <div class="d-flex m-2">
                    <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search" value="@ViewBag.Search" name="searchTerm">
                    <button class="btn btn-outline-success tm-search-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

        </div>
    </div>
    <h4 id="success" style="color:#43A047;" class="field-validation-error">@ViewBag.Success</h4>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                CreateDate
            </th>
            <th>
               Public
            </th>
            <th>
                Image   
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PostList)
        {
            <tr>
                <td data-post-id="@item.Id">
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>

                <td>
                    @item.CreatedAt.ToString("dd/MM/yyyy")
                </td>

                <td class="d-flex justify-content-center">
                    <input data-post-id="@item.Id" class="is-public-checkbox" style="height:15px; width:15px" type="checkbox" @(item.IsPublic ? "checked" : "") />
                </td>
                <td>
                    @if (@item.ImageUrl != null)
                    {
                        <img src="@item.ImageUrl" alt="Image" class="img-fluid" style="width: 100px;border-radius: 8px;">
                    }
                    else
                    {
                        <div></div>
                    }
                </td>
                <td>
                    @item.Author.Name
                </td>
                <td>
                    @item.Category.Value
                </td>
                <td class="d-flex">
                    <a class="btn btn-outline-success" style="height:fit-content;" asp-action="Edit" asp-route-id="@item.Id">Details</a>
                    @if (@ViewBag.CheckAccount == "Admin" || @ViewBag.CheckAccount == "Marketer Manager")
                    {
                        <div class="d-flex"> <p>|</p>
                            <p class="btn btn-outline-success" style="width:100px" onclick="openReport('popupReport', @item.Id)">Report</p>
                            </div>
                    }
                   
                    
                   
                  
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
<div id="notification" style="display:none;"> Thông báo sẽ được hiển thị ở đây</div>
<div class="row tm-mb-90">
    <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
        @*<a href="javascript:void(0);" class="btn btn-Primary tm-btn-prev mb-2 disabled">Previous</a>*@
        @if (ViewBag.CurrentPage > 1)
        {
            <a  class="btn btn-outline-success" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize, searchTerm = ViewBag.Search })">&laquo; Previous</a>
        }
        else
        {
            <a class="btn btn-Primary tm-btn-prev mb-2 disabled">&laquo; Previous</a>

        }
        <div class="tm-paging d-flex">

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a class="@((i == ViewBag.CurrentPage) ? "active" : "") btn btn-outline-success m-2" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize, searchTerm = ViewBag.Search })">@i</a>
            }

        </div>
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a class="btn btn-outline-success" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize, searchTerm = ViewBag.Search })">Next &raquo;</a>
        }
        else
        {
            <a class="btn btn-Primary tm-btn-prev mb-2 disabled">Next &raquo;</a>

        }

        @*<a href="javascript:void(0);" class="btn btn-Primary tm-btn-next">Next Page</a>*@
    </div>
</div>
<!---popupCreate--->
<div class="modal" tabindex="-1" id="popupCreate" style="background-color:#2220208c">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePopup('popupCreate')"></button>
            </div>
            <!-- Nội dung của popupCreate -->
            <div class="row">
                <form asp-action="Create" style="width:90%; margin:25px" method="post" id="form" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row align-items-stretch">
                        <div >
                            <div class="form-group mb-4 d-flex">
                                <img id="selectedImg" src="~/img/addImage.png" style="width: 52px;border-radius: 8px;" alt="User Avatar" />
                                <div class="btn btn-outline-success " id="changeImg" style=" height:fit-content;margin-top:7px">
                                    <label class="form-label text-green m-0" for="imgFile">Choose Image</label>
                                    <input type="file" class="form-control d-none" id="imgFile" name="imgFile" onchange="displaySelectedImage(event, 'selectedImg')" />
                                </div>

                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="Title" class="control-label">Title*</label>
                                <input asp-for="Title" id="titleInput" class="form-control" />
                                <span id="titleError" style="color:rgba(var(--bs-danger-rgb));" class="field-validation-error"></span>
                            </div>
                            <div class="form-group mb-4">
                            <label asp-for="Excerpt" class="control-label">Excerpt*</label>
                            <input asp-for="Excerpt"  class="form-control" />
                        </div>
                            <div class="form-group mb-4 ">
                                <label asp-for="IsPublic" class="form-check-label">
                                    Public
                                </label>
                                <input asp-for="IsPublic" class="is-public-checkbox" style="height:15px; width:15px" type="checkbox" />

                            </div>

                            <div class="form-group mb-4">

                                @* Hiển thị select khi đang ở chế độ chỉnh sửa *@
                                <select id="selectCate" name="category" id="category" asp-items="ViewBag.Setting" class="form-control">
                                    <option value="Category*" class="form-control">Category*</option>
                                </select>
                                @*<input asp-for="Category" class="form-control"  readonly />*@
                                <span id="selectError" style="color:rgba(var(--bs-danger-rgb));" class="field-validation-error"></span>
                            </div>
                            <div class="form-group form-group-textarea mb-md-0 mb-4" style="height:100%">
                                <label asp-for="Description" class="control-check-label">Description*</label>
                                <textarea asp-for="Description" id="descriptionInput" class="descriptionInput form-control" style="height:220px"></textarea>
                                <span id="descriptionError" style="color:rgba(var(--bs-danger-rgb));" class="field-validation-error"></span>
                            </div>
                        </div>
                        @*<div class="col-md-6">*@


                        @*</div>*@
                    </div>
                    <div class="d-flex" style="justify-content: space-between;">
                        <div></div>
                        <input type="submit" value="Save" @*onclick="validateAndSubmit()"*@ style="background-color: #43A047;border: none; color:white;border-radius:5px;margin-top:10px;  height:40px;" id="saveButton" />
                    </div>
                     </form>

            </div>
           
        </div>
    </div>
</div>

<!---popupReport--->
<div class="modal" tabindex="-1" id="popupReport" style="background-color:#2220208c">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePopup('popupReport')"></button>
            </div>
            <!-- Nội dung của popupReport -->
            <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CreateDate</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody id="reportTableBody" class="reportTableBody">
                        <!-- Dữ liệu báo cáo sẽ được thêm vào đây -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Close" onclick="closePopup('popupReport')" style="background-color: gray;border-radius: 3px; margin-top:9px" />
            </div>
        </div>
    </div>
</div>

<div class="popup-container" id="popupContainer" style="max-width: 300px"></div>
<style>

    #notification {
        position: fixed;
        bottom: 20px;
        right: 10px;
        background-color: #4CAF50;
        color: white;
        padding: 15px;
        z-index: 9999;
    }

    .popup-container {
        position: absolute;
        display: none;
        background-color: white;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .content-cell {
        max-width: 300px;
        word-wrap: break-word;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/plugin/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('descriptionInput')
    
    function openPopup(popupView) {
        var popup = document.getElementById(popupView);
        popup.style.display = 'block';
    }
    function closePopup(popupView) {
        var popup = document.getElementById(popupView);
        popup.style.display = 'none';
    }
    function openReport(popupView, postIdCheckReport) {
        $.ajax({
            url: 'https://localhost:7104/LoadPopupReport',
             type: 'POST',
            data: { postIdCheckReport: postIdCheckReport },
            dataType: 'json',
            success: function (result) {
                if (result) {
                    updateModalContent(result.$values);
                    openPopup(popupView)
                    // Cập nhật thành công
                    console.log('Updated successfully.');
                }
                else {
                    console.error('Update failed.');
                }
            },
            error: function () {
                console.error('Error during update.');
            }
        });
    } 
    function updateModalContent(result) {
        var modalBody = $("#popupReport").find(".reportTableBody");
        modalBody.html(""); // Clear existing content

        $.each(result, function (index, report) {
            if (report.CreatedAt && report.Content) {
                var appendElement = $("<tr>");
            appendElement.append($("<td>").html(report.Reporter));
            appendElement.append($("<td>").html(report.CreatedAt ? report.CreatedAt : ""));
            appendElement.append($("<td>").html("<p class='content-cell d-flex' style='width:fit-content' onmouseover='showFullContent(\"" + report.Content + "\", event)' onmouseout='hideContent()'>" + report.Content + "</p>"));
            modalBody.append(appendElement);
            }
            
        });
    }

 
     function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
    function showNotification(message, duration) {
        var notification = document.getElementById("notification");
        notification.innerHTML = message;
        notification.style.display = "block";
        setTimeout(function () {
            notification.style.display = "none";
        }, duration);
    }
    $(document).ready(function () {
        $('.is-public-checkbox').on('click', function () {
            var isChecked = $(this).prop('checked');
            var postId = $(this).data('post-id');

            // Gửi yêu cầu đến server để cập nhật giá trị IsPublic
            $.ajax({
                url: '/UpdateIsPublic',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: { postId: postId, isPublic: isChecked },
                success: function (result) {
                    if (result) {
                        // Cập nhật thành công
                        showNotification("Updated successfully!", 5000);
                        console.log('Updated successfully.');
                    } 
                    else {
                        showNotification("Updated failed!", 5000);
                        console.error('Update failed.');
                    }
                },
                error: function () {
                    console.error('Error during update.');
                }
            });
            
        });

    });
    function showFullContent(content, event) {
        var popupContainer = document.getElementById('popupContainer');
        var contentCell = event.target.querySelector('.content-cell');

        // Đặt nội dung của popup container
        popupContainer.innerHTML = content;

        // Đặt vị trí và hiển thị popup container
        popupContainer.style.left = (event.clientX + window.scrollX) + 'px';
        popupContainer.style.top = (event.clientY + window.scrollY) + 'px';
        //popupContainer.style.left = event.pageX + 'px';
        //popupContainer.style.top = event.pageY + 'px';
        popupContainer.style.display = 'block';
    }

    function hideContent() {
        var popupContainer = document.getElementById('popupContainer');

        // Ẩn popup container khi di chuột ra
        popupContainer.style.display = 'none';
    }
    document.addEventListener('DOMContentLoaded', function () {
        var elements = document.querySelectorAll('.content-cell');
        elements.forEach(function (element) {
            var content = element.textContent.trim();
            var maxLength = 100;
            if (content.length > maxLength) {
                element.textContent = content.substring(0, maxLength) + '...';
                //element.title = content; // Hiển thị toàn bộ nội dung khi di chuột qua
            }
        });
    });

    function validateAndSubmit() {
        // Lấy giá trị từ thẻ select
        var selectInput = document.getElementById("selectCate").value;
        var descriptionInput =document.getElementById("descriptionInput").value;
        var titleInput = document.getElementById("titleInput").value;
        var selectError = $("#selectError")
        var descriptionError = $("#descriptionError")
        var titleError = $("#titleError")
        // Reset trạng thái và thông báo lỗi trước mỗi lần kiểm tra
        $("#selectCate").removeClass("input-validation-error");
        selectError.text("");
        $("#descriptionInput").removeClass("input-validation-error");
        descriptionError.text("");
        $("#titleInput").removeClass("input-validation-error");
        titleError.text("");

        // Kiểm tra
        if (selectInput == "Category*") {
            selectError.text("Please choose a Category.");
        }
        else if (descriptionInput == "") {
            descriptionError.text("Please enter a Description.");
        }
        else if (titleInput == "") {
            titleError.text("Please enter a Title.");
        }
        else {
            // Validation thành công, tiếp tục submit form
            document.forms["form"].submit();
            success.text("Please enter a Title.");
            //$("form").submit/*();*/
        }
    }
</script>
