@model IMS.Models.User;

@{
    ViewData["Title"] = "Index";
    string tab = ViewData["tab"]?.ToString() ?? "userdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.Title = "Avatar Management";
}
<style>
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        padding: 20px;
        background-color: #fff;
        z-index: 1;
        width:450px;
    }

    .popup-content {
        /*text-align: center;*/
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

        .close:hover {
            color: black;
        }
        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid #000;
            overflow: hidden;
        }

        .avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .avatarAdd{
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin-left: 35px;
        margin-top: 10px;
        }

        .avatarAdd img {
            width: 60%;
            object-fit: cover;

        }
        .active-color{
                background-color: green !important;
                color: #f8f9fa;
        }
</style>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="Home"  class="nav-link @(@tab == "userdetails" ? "active-color":"")" href="/userprofile?tab=userdetails">User Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/userprofile?tab=changepassword">Change Password</a>
    </li>
   
</ul>
<h1>User Details</h1>

@if ( Model.Avatar == null){
    <div class="avatar">
        <img src="~/img/avatarDemo.jpg" alt="Avatar">
    </div>
    <div class="avatarAdd" >
        <img src="~/img/addAvatar.png" alt="Thumbnail" class="thumbnail" onclick="openPopup('popupAdd')">
    </div>
   
}
else 
{
    <div class="avatar" style=" border: 1px solid #000;">
        <img src="~/Avatars/@Model.Avatar" alt="Avatar" class="avatar" />

    </div>
    <div class="avatarAdd">
        <img src="~/img/editAvatar.png" alt="Thumbnail" class="thumbnail" onclick="openPopup('popupEdit')">
    </div>

    
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Gender==true){
                <p>Male</p>
            }
            else if (Model.Gender == null)
            {
                <p></p>
            }
            else{
                <p>Female</p>
            }
        </dd>
    </dl>
</div>
<div style="display:flex">
    <div style="background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%); height:fit-content; border-radius:5px; display:flex;justify-content:center;width:fit-content;padding:5px">
        <button style="color:white; text-decoration:none;background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%); border:none"
                onclick="openPopup('popupEditDetails')">
            Edit Profile
        </button>
    </div>
   
</div>


<div id="popupEditDetails" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup('popupEditDetails')">&times;</span>
        <div class="row">
                <form asp-action="EditUserProfile">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                    @if (Model.Gender == true)
                    {
                        <label><input asp-for="Gender" type="radio" value="true" checked /> Male</label>
                        <label><input asp-for="Gender" type="radio" value="false" /> Female</label>
                        <span asp-validation-for="Gender" class="text-danger"></span>

                    }
                    else if (Model.Gender == null)
                    {
                        <label><input asp-for="Gender" type="radio" value="true" /> Male</label>
                        <label><input asp-for="Gender" type="radio" value="false" /> Female</label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    }
                    else
                    {
                        <label><input asp-for="Gender" type="radio" value="true" /> Male</label>
                        <label><input asp-for="Gender" type="radio" value="false" checked /> Female</label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                        

                    }                      
                    </div>
                    <div class="form-group">
                        <input style="background-color: #43A047;border-color: #43A047; height:40px; margin-top:5px" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
        </div>

    </div>
</div>


    <!-- Popup Add -->
    <div id="popupAdd" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup('popupAdd')">&times;</span>
        <!-- Nội dung của popup add -->
        @using (Html.BeginForm("CreateAvatar", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Id)

            <label for="file">Choose Avatar:</label>
            <input type="file" name="file" id="file" required  />
            <input type="submit" value="Upload" style="background-color: #43A047;border-radius: 3px; margin-top:5px" />
        }
        </div>
   
    </div>

<!-- Popup Edit -->
<div id="popupEdit" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup('popupEdit')">&times;</span>
        <!-- Nội dung của popup edit -->
        <p>
            @using (Html.BeginForm("UpdateAvatar", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)

                <label for="file">Update Avatar:</label>
                <input type="file" name="file" id="file" required />
                <input type="submit" value="Update" style="background-color: #43A047;border-radius: 3px; margin-top:5px" />
            }
        </p>
        <p>
            @using (Html.BeginForm("DeleteAvatar", "UserProfile", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.Id)
                 <label for="file">Delete Avatar:</label>
                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this avatar?');" style="background-color: #43A047;border-radius: 3px; margin-top:5px" />
            }
        </p>
    </div>

</div>


<script>
     function openPopup(popupView) {
        var popup = document.getElementById(popupView);
            popup.style.display = 'block';
        }

    function closePopup(popupView) {
        var popup = document.getElementById(popupView);
            popup.style.display = 'none';
        }

</script>