@model IMS.ViewModels.Auth.ChangePasswordViewModel;

@{
    Layout = "~/Views/Shared/_TabBar.cshtml";
}


@using (Html.BeginForm("ChangePassword", "UserProfile", FormMethod.Post))
{
    <div class="form-group mb-3">
        <label asp-for="OldPassword">Current password <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @type = "password" })
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="NewPassword">New password <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @type = "password" })
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ConfirmPassword">Confirm Password <span class="text-danger">*</span></label>
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password" })
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    @if (!string.IsNullOrEmpty(@ViewBag.Success))
    {
        <div class="text-success text-center mb-3">
            @ViewBag.Success
        </div>
    }
    @if (!string.IsNullOrEmpty(@ViewBag.Error))
    {
        <div class="text-danger text-center mb-3">
            @ViewBag.Error
        </div>
    }

    <button type="submit" class="btn btn-primary w-100">Submit</button>
}